body{
    text-align: center;
}

select{
    width: 100px;
}

html{
    background-color: skyblue;
}

#movieTitle{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}